<div class="card" style="width: 18rem">
  <img
    src="https://media.tenor.com/FQCtm9c6npoAAAAd/anime-live.gif"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card with stretched links</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <p class="card-text">
      <a href="#" class="stretched-link text-danger" style="position: relative"
        >Stretched link will not work here, because
        <code>position: relative</code> is added to the link</a
      >
    </p>
    <p class="card-text bg-body-tertiary" style="transform: rotate(0)">
      This
      <a href="#" class="text-warning stretched-link">stretched link</a> will
      only be spread over the <code>p</code>-tag, because a transform is applied
      to it.
    </p>
  </div>
</div>
<div class="d-flex position-relative">
  <img
    src="https://media.tenor.com/LtX-8YyhuWgAAAAM/my-dress-up-darling-anime-blush.gif"
    class="flex-shrink-0 me-3"
    alt="..."
  />
  <div>
    <h5 class="mt-0">Custom component with stretched link</h5>
    <p>
      This is some placeholder content for the custom component. It is intended
      to mimic what some real-world content would look like, and we're using it
      here to give the component a bit of body and size.
    </p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
</div>
<div class="row g-0 bg-body-secondary position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img
      src="https://media.tenor.com/eqaZV20pMvkAAAAM/kitagawa-blush-kitagawa-marin.gif"
      class="w-100"
      alt="..."
    />
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Columns with stretched link</h5>
    <p>
      Another instance of placeholder content for this other custom component.
      It is intended to mimic what some real-world content would look like, and
      we're using it here to give the component a bit of body and size.
    </p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
</div>
