<div class="cotnainer">
  <button
    class="btn btn-danger"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#clearcollapse"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    ดูข้อมูล
  </button>
  <div id="clearcollapse" class="collapse">
    <div class="card">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi
          obcaecati repudiandae unde voluptatibus tenetur, vel eligendi
          doloribus alias. Fugiat!
        </p>
      </div>
    </div>
  </div>
</div>
