<div class="container my-2 bg-info">
  <div class="row" style="height: 500px">
    <div class="col align-self-start">
      <div class="card">
        <h1>Hello</h1>
        <a href="#" class="btn btn-success">Register</a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="card">
        <h1>Hello</h1>
        <a href="#" class="btn btn-success">Register</a>
      </div>
    </div>
    <div class="col align-self-end">
      <div class="card">
        <h1>Hello</h1>
        <a href="#" class="btn btn-success">Register</a>
      </div>
    </div>
  </div>
</div>
